.orange {
    color: rgb(255, 134, 21) !important;  
}
.scale {
    transform: scale(1.1);
}
.shadow {
    text-shadow: 0 0 1px rgb(165, 165, 165);
}
.sidebareffect {
    margin-left: 8vh !important;
}
.sidebarwidth {
    width: 15vh !important;
}
.bgcolor {
    background-color: rgba(255, 255, 255, 0.788) !important;
}
.textcolor {
    color: rgb(10, 10, 10) !important;
}
.sidebarcolor {
    background-color: rgba(0, 0, 0, 0.027) !important;
}
.headerseffect {
    opacity: 1 !important;
    // color: black;
    transform: translate3d(5vw, 30vw, 0);
    position: sticky;
    top:-28vw;
}
.opac {
    opacity: 0 !important;
}
.c_circle_anim {
    animation: circle-chart-fill 2s reverse;
    transform: rotate(-90deg);
    transform-origin: center;
}
.c_info_anim {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
}