.sidebareffect {
    margin-left: 8vh !important;
}
.sidebarwidth {
    width: 15vh !important;
}
.headerseffect {
    opacity: 1 !important;
    position: sticky;
    top: 5vh;
}
.opac {
    opacity: 0 !important;
}
.c_circle_anim {
    animation: circle-chart-fill 2s reverse;
    transform: rotate(-90deg);
    transform-origin: center;
}
.c_info_anim {
    animation: circle-chart-appear 2s forwards;
    opacity: 0;
    transform: translateY(0.3em);
}
.menueffect {
    color: $color1;
    z-index: -1 !important;
}

// Color change
.bgcolor {
    background-color: rgba(255, 255, 255, 0.822) !important;
}
.sidebarcolor {
    background-color: rgba(0, 0, 0, 0.062) !important;
}
.textcolor {
    color: $color3 !important;
    $currentcolor: 1;
}
