// $bghome: url(./Fotos/home.jpg);
// $bghome: url(./Fotos/bg6.jpg);
$bghome: url(./Fotos/bg10.jpg);
// $bghome: url(./Fotos/bg2.png);
$aboutimg1: url(./Fotos/about1.jpg);
$aboutimg2: url(./Fotos/about2.jpg);
$pj1: url(./Fotos/abibas.JPG);
$pj2: url(./Fotos/PhotoWeb.png);
