// Images
$aboutimg1: url(./Fotos/about1.jpg);
$aboutimg2: url(./Fotos/about2.jpg);
$pj1: url(./Fotos/abibas.JPG);
$pj2: url(./Fotos/PhotoWeb.png);

// Colors
$color1:rgb(255, 134, 21);
$color2: rgb(221, 221, 221);